[Unit]
Description=Runs Daly Express Backend
After=network.target

[Service]
Environment=PATH=/home/user/bin:/home/user/.nvm/versions/node/v14.18.1/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
User=user
WorkingDirectory=/home/user/Daly/daly-backend
ExecStartPre=/home/user/.nvm/versions/node/v14.18.1/bin/npm install
ExecStart=/home/user/.nvm/versions/node/v14.18.1/bin/npm start

[Install]
WantedBy=multi-user.target
